:root {
  --title-color: #212121;
  --text-color: #757575;
  --color-button:#ffff;
  --primary-background:#2F303A;
}


.list {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
body{
  font-family:Roboto,sans-serif;
  }

/* HEADER */
.company {
  font-family: Raleway,sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.company-span {
  font-family: Raleway,sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-link-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.nav-link-title:hover,
.nav-link-title:focus{
  color:#2196f3;
}
.nav-link-title.current{
  color:#2196f3;
}



.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
/* main content section */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-section {
  background:var(--primary-background);
  text-align:center;
}
.main-btn {
  background:#2196f3;
  cursor:pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--color-button);
}
.link-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.link-text{
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--text-color);
}
.our-team{
  background:#F5F4FA;
}

.section-title {
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color:color: var(--title-color);
}
.section-title-list{
  font-family: Roboto;
  font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;   
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color)  
}
.section-text{
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
}
/* Footer */
.footer-section{
background:var(--primary-background);
}
.name-company-span{
font-family: Raleway,sans-serif;;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address-text{ 
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:#ffffff
}
.footer-link{
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,focus{
 color:#ffffff;
}
/* Portfolio */
.portfolio-button{
  background:#F5F4FA;
  cursor:pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color:#212121;
  } 
  .portfolio-button:hover,:focus{
  background:#2196F3;
  color:#FFFFFF;
}
.portfolio-button.current{
  background:#2196F3;
  color:#FFFFFF;
}

.portfolio-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--title-color);
}
.portfolio-text{
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color:var(--text-color);
}


